$coral: #f44242;
$yellow: #f48c41;
$gray: #84828E;
$onyx: #373449;
$blue: #4158f4;
$rosegold: #f44242;
$fuschia: #41f49d;
$white: #EDEDED;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:800|Open+Sans');

$big: 'Work Sans', sans-serif;
$regular: 'Open Sans', sans-serif;

body {
  background: $white; 
}

a {
  color: black;
}

#container {
  height: 600px; 
  width: 400px;
  margin: 15% auto;
  position: relative;
  box-shadow: 4px 10px 20px rgba($onyx, .4)
}

#background {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 300%;
  height: 100%;
    background: white;
  -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
  transition: all .8s ease;
}

/* navigation */
nav {
  display: block;
  float: right;
  margin: 1em;
  margin-top: 2.4em;
  font-family: $regular;
  font-size: 11px;
}

.navbar a {
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $onyx;
  &:hover {
    background: $yellow;
    padding: 10px;
    border-radius: 25px;
    transition: all .5s ease;
  }
}

.navbar a:last-child {
  background: $onyx;
  color: $yellow;
  padding: 10px;
  border-radius: 25px;
  &:hover {
    color: $onyx;
    background: $yellow;
    transition: all .5s ease;
  }
}

/* sections */

.section {
  position: absolute;
  margin-top: 15%;
  margin-left: 5%;
  width: 97%;
  height: 80%;
}

.button {
  position: absolute;
   width: 60px;
  height: 30px;
  
  border-radius: 10%;
  &:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }
}

.rosegold {
  background: $rosegold;
  top: -100px;
  left: 185px;
}

.coral {
  background: $coral;
  left: 35px;
  top: -100px;
}

.fuschia {
  background: $fuschia;
  left: 110px;
  top: -100px;
}

.black {
  background: $onyx;
  left: 105px;
  top: -100px;
}
.blue {
  background: $blue;
  left: 260px;
  top: -100px;
}

/* text-styling */

h1 {
  font-family: $big;
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
 
  text-shadow: 3px 3px 10px rgba(black, .9);
}
#title {
  transition: all 1s ease;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: -15px;
  letter-spacing: 3px;
  font-family: $regular;
  color: black;
}

h3 {
  font-family: $big;
  color: black;
  text-transform: uppercase;
  font-size: 3.5em;
  text-shadow: 2px 1px 0px rgba($onyx, .9);
 
}

h4 {
  position: absolute;
  top: 250px;
   
  font-family: $big;
  color: black;
  text-transform: uppercase;
  font-size: 3.5em;
  text-shadow: 2px 1px 0px rgba($onyx, .9);
 
}
p {
  font-family: $regular;
  font-size: .8em;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 45px;
  text-transform: uppercase;
  color: black;
}

#desc {
  
  position: absolute;
  top: 75%;
  
  
}

.look {
  position: absolute;
  color: $white;
  opacity: .4;
  right: -200px;
  top: 185px;
  font-size: 2.3em;
  white-space: nowrap;
  transform: rotate(90deg);
}
.highlight {
  background-color: yellow;
}
.margin-top {
  margin-top: 135px;
}
.less-margin {
  margin-top: -35px;
}

/* image */
.alta img {
  height: 200px;
  position: absolute;
  top:-65px;
  left: -20px;
  right: 0px;
  z-index: 1;
}

#alta img {
  transition: all 1s ease;
}

/*
.container {
  position: relative;
  margin: auto;
  background: $yellow;
  opacity: .8;
  margin-top: 10%;
  width: 600px;
  height: 400px;
  box-shadow: 2px 15px 30px rgba($onyx, .2);
}

.inner-triangle {
  position: absolute;
  background: white;
  opacity: .9;
  width: 100%;
  height: 100%;
  -webkit-clip-path: $bottom-triangle;
  clip-path: $bottom-triangle;
}
*/
